{% extends 'base_site.html' %}
{% block content %}
<h1>Список друзей {{ user.username }}</h1>
<ul>
{% for friend in friends %}
<li>{{ friend.username }}</li>
{% endfor %}
    <div class="btn-group">
        <button onclick="window.location.href='/accounts/requests'">Запросы на дружбу</button>
    </div>
</ul>
{% endblock %}
.btn-group button {
  background-color: #04AA6D; /* Зеленый фон */
  border: 1px solid green; /* Зеленая рамка */
  color: white; /* Белый текст */
  padding: 10px 24px; /* Немного отступа */
  cursor: pointer; /* Указатель/рука */
  width: 50%; /* Установите ширину при необходимости */
  display: block; /* Сделайте кнопки появляются друг под другом */
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Предотвратить двойные границы */
}

/* Добавьте цвет фона при наведении */
.btn-group button:hover {
  background-color: #3e8e41;
}